.content {
  display: flex;
  flex-wrap: wrap;
}

.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}

@media screen and (max-width: 540px) {
  .header__title {
    font-size: 2em;
  }
  .header__logo {
    height: 24px;
  }
  .header__menu svg {
    width: 12px;
    fill: #E0E0E0;
  }
  .nav {
    width: 300px;
    position: absolute;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }

  .weather {
    width: 100%;
  }
  .scores {
    width: 100%;
  }
}

@media screen and (min-width: 541px){
  .header__menu svg {
    display: none;
  }
  .hero {
    width: 100%
  }
  .top-news {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .weather {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .scores {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:700px) {
  .hero {
    order: 0;
    width: 66.6%;
  }
  .top-news {
    order: 1;
    width: 33.3%;
  }
  .weather {
    order: 2;
    width: 40%;
  }
  .scores {
    order: 3;
    width: 60%;
  }
}

@media screen and (min-width: 850px) {
  main, .header__inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}
