div {
  padding: 10px;
}

div.image-conteiner {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
}

body {
  width: 323px;
}

span {
  font-weight:bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

.resize {
  width: 300px;
}

.border {
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
}

.shadow {
   box-shadow: 5px 5px 2px #d9d9d9;
}

.italic {
  font-style: italic;
}
